@import url("https://fonts.googleapis.com/css?family=Lato:400");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

html {
  font-size: 100%;
} /*16px*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* primary */
  --secondary-100: #e0deff;
  --secondary-200: #c1beff;
  --secondary-300: #a29dff;
  --secondary-400: #8373ff;
  --secondary-500: #645cff;
  --secondary-600: #504acc;
  --secondary-700: #3c3799;
  --secondary-800: #282566;
  --secondary-900: #141233;
  /* grey */
  --grey-50: #f8fafc;
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-600: #475569;
  --grey-700: #334155;
  --grey-800: #1e293b;
  --grey-900: #0f172a;

  /* Other colors */
  --black: #222;
  --white: #fff;
  --red-light: #fee2e2;
  --red-dark: #b91c1c;
  --green-light: #dcfce7;
  --green-dark: #15803d;
  --orange: #ff9800;

  /* CSS HEX */
  --primary-0: #eee0bc;
  --primary-1: #cc9966;
  --primary-2: #9d8977;
  --primary-3: #886e58;
  --primary-4: #735238;
  --primary-5: #492b14;
  --primary-6: #3a2211;

  /* box shaows */
  --box-shadows-md: 0 4px 6px -1px rgb(0 0 0 / 0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1);
  --box-shadows-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  --box-shadows-xl: 0 50px 50px 0 rgba(0, 0, 0, 0.2),
    0 50px 50px 0 rgba(0, 0, 0, 0.19), 0 50px 50px 0 rgba(0, 0, 0, 0.19);

  /* other vars */
  --backgroundColor: var(--grey-50);
  --textColor: var(--grey-900);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transtion: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 600px;

  /* fonts */
  --headingFont: "Lato", sans-serif;
  --bodyFont: "Lato", sans-serif;
  --smallText: 0.8em;
}

/* fonts */
body {
  background: white;
  font-family: var(--bodyFont);
  font-weight: 400;
  line-height: 1.75;
  color: var(--textColor);
  /* height: 2500px; */
}

p {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 3rem 0 1.38rem;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small,
.text_small {
  font-size: var(--smallText);
}

#header {
  display: flex;
  flex-direction: row;
  position: fixed;
  width: 100vw;
}

#header-img {
  width: 30px;
  background: var(--white);
  border-radius: 60px;
  border: 1px solid var(--white);
}

#logo-link {
  display: flex;
  width: 25vw;
  align-items: center;
  justify-content: center;
  background: rgb(0 0 0 / 0.9);
}

/* navbar */
.topbar {
  overflow: hidden;
  background: rgb(0 0 0 / 0.9);
  width: 100%;
}

#nav-bar {
  flex-direction: row;
}

.topbar a {
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  color: var(--white);
  letter-spacing: var(--letterSpacing);
}

.topbar > ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  margin-right: 10vw;
  height: 3rem;
  cursor: pointer;
}

.topbar > ul > li {
  padding: 11px 13px;
}

.topbar a:hover {
  color: var(--primary-1);
}

.last-li {
  display: none;
}

.sticky {
  opacity: 97%;
  box-shadow: var(--box-shadows-md);
}

/*
###################
 Banner 
###################
*/

#banner {
  display: flex;
  background: url(../images/coffee_shop.jpg) no-repeat center;
  background-size: cover;
  width: 100%;
  height: 180vh;
  text-align: center;
  flex-direction: column;
}

#banner h1 {
  display: flex;
  justify-content: center;
  font-size: 48px;
  padding: 3rem;
  color: var(--white);
  line-height: 65px;
  font-weight: 800;
  letter-spacing: var(--letterSpacing);
  text-transform: capitalize;
  margin: 150px auto 10px auto;
  text-shadow: 0 0 4px #000000;
  background: rgb(0 0 0 / 0.8);
  width: 500px;
  height: 200px;
}

#banner p {
  font-size: 16px;
  color: var(--white);
  width: 40vw;
  text-align: justify;
  margin: 0 auto 40px;
  letter-spacing: var(--letterSpacing);
  background: rgb(0 0 0 / 0.8);
  padding: 4rem;
  color: var(--primary-1);
}

.aboutBtn {
  border: 4px solid var(--orange);
  background: rgb(0 0 0 / 0.6);
  border-radius: 50px;
  color: var(--white);
  text-decoration: none;
  text-transform: capitalize;
  font-size: 1.1rem;
  font-weight: 800;
  letter-spacing: 0.1rem;
  padding: 14px 28px;
  width: 17rem;
  margin: 0 auto;
  cursor: pointer;
}

.aboutBtn:hover {
  background: var(--black);
  transition: var(--transtion);
}

.banner-botton img {
  max-width: 360px;
  margin-left: 20px;
  margin-top: -170px;
  box-shadow: var(--box-shadows-xl);
  /* border: 7px solid var(--white); */
  border-radius: var(--borderRadius);
  margin-bottom: 100px;
}

.banner-botton {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

/* 
######################
Info box
######################
*/
.info-box {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  z-index: -1;
}

.info-box::after {
  content: "";
  position: absolute;
  width: 4px;
  background-color: var(--grey-200);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.timeline {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid rgb(255, 165, 0, 0.5);
  top: 20px;
  border-radius: 50%;
  z-index: 1;
}

.left {
  left: 0;
}

.right {
  left: 50%;
}

.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid orange;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent orange;
}

.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 30px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid var(--orange);
  border-width: 10px 10px 10px 0;
  border-color: transparent var(--orange) transparent transparent;
}

.right::after {
  left: -16px;
}

.content {
  padding: 20px 30px;
  border-radius: 6px;
  color: var(--primary-6);
  font-size: 15px;
}

.left > .content {
  background-color: var(--orange);
  color: var(--white);
  letter-spacing: var(--letterSpacing);
  text-align: justify;
  text-indent: 25px;
}

.right > .content {
  text-align: left;
  background-color: var(--orange);

  color: var(--white);
}

.right p {
  font-size: 40px;
  font-weight: 600;
}

hr {
  display: flex;
  position: relative;
  max-width: 90%;
  margin: 90px auto;
  opacity: 40%;
  z-index: -1;
}

/* 
#########################
environment
########################
*/

.environment {
  display: grid;
  row-gap: 50px;
  grid-template-columns: auto auto;
  background-color: var(--grey-900);
  padding: 30px;
}

.side {
  display: flex;
  background-color: var(--grey-900);
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  color: var(--white);
  padding: 20px;
  font-size: 30px;
  align-items: center;
  /* justify-content: center; */
  height: 500px;
}

iframe {
  width: 40vw;
  height: 80%;
  padding: 10px;
  background-color: white;
  border-radius: var(--borderRadius);
}

.side-text {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  align-items: flex-start;
  /* max-width: 100%; */
  justify-content: space-around;
  border-left: 1px solid rgba(255, 255, 255, 0.486);
  padding-left: 70px;
}

.side-text h3 {
  margin-top: 20px;
  font-size: 40px;
}

.inter-text {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.inter-text p {
  padding: 10px;
}

.inter-text > i {
  font-size: 48px;
  margin-right: 10px;
  color: var(--orange);
}

.btn-about {
  background-color: var(--orange);
  padding: 14px 48px;
  text-decoration: none;
  color: var(--white);
}

/*
#########################
Menu
########################
*/
.menu {
  width: 80%;
  background-color: burlywood;
  margin: 20px auto 20px auto;
  padding: 20px;
  max-width: 500px;
  max-height: auto;
  background-image: url("../images/blackboard.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--green-light);
}

.menu--title {
  text-align: center;
  font-weight: bold;
  margin-bottom: 1em;
}

.img-menu {
  background-image: url('../images/coffee-menu.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
}

.menu--title--base {
  height: 2px;
  background-color: var(--green-light);
  border-color: var(--green-light);
  z-index: 5;
  margin: 0;
  width: 80%;
  margin: auto auto 10px auto;
}

.cup--icon {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  color: black;
}

.bi .bi-cup-hot {
  font-size: 2rem;
}


.item--menu {
  display: flex;
  justify-content: space-between;
}

.item--menu p {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 18px;
}

.price {
  text-align: right;
  width: 25%;
}



/* 
#########################
Footer
########################
*/

#contact {
  height: 500px;
  background: var(--grey-900);
  padding-bottom: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 50px;
  background-color: var(--grey-900);
  padding: 10px 80px 60px;
}

.grid-container > div {
  background-color: var(--grey-900);
  text-align: center;
  padding: 0;
}

.item-1 {
  grid-column-start: 1;
  grid-column-end: 5;
  margin: 0;
}

.item-1 > h2 {
  font-size: 50px;
  font-weight: bold;
  letter-spacing: var(--letterSpacing);
  color: var(--white);
  background: var(--grey-900);
  margin: 0;
  text-align: initial;
  padding: 50px 0 0;
}

.item-2 {
  grid-column-start: 1;
  grid-column-end: 4;
  padding: 10px;
}

#form {
  display: flex;
  flex-direction: row;
  padding: 0 10px 10px 0;
  background: var(--grey-900);
  color: var(--white);
  border-bottom: 1px solid rgba(255, 255, 255, 0.418);
}

input:not(:last-child) {
  width: 100%;
  padding: 0px 15px;
  margin-bottom: 20px;
  height: 45px;
  margin-right: 20px;
  background: var(--white);
  letter-spacing: var(--letterSpacing);
  border: none;
  padding: 10px;
}

::placeholder {
  opacity: 65%;
}

input:focus {
  border-bottom: 4px solid var(--orange);
  outline: none;
  border-color: var(--orange);
}

#submit {
  border: none;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: var(--letterSpacing);
  text-transform: capitalize;
  text-decoration: none;
  color: var(--white);
  background: var(--orange);
  padding: 16px 42px;
  transition: 0.5s;
  height: 45px;
  margin: 0px 20px 0px 20px;
  cursor: pointer;
}

#submit:hover {
  background: var(--grey-100);
  color: var(--black);
  transition: all 0.3s ease-in-out;
}

.item-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.418);
}

.item-3 > a {
  font-size: 40px;
  display: flex;
  margin: 10px;
  border-radius: 30px;
  transition: all 0.3s ease-in-out;
  margin: 0px 10px 0px 0px;
}

.item-3 > a > i:hover {
  color: var(--orange);
  transition: var(--transtion);
}

.item-4 {
  display: flex;
  border: none;
  justify-content: center;
  flex-direction: column-reverse;
  border-right: 1px solid rgba(255, 255, 255, 0.418);
}
.item-4 > ul {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  height: 100%;
  list-style: none;
}

.item-4 > ul > li {
  padding-bottom: 25px;
}

.item-4 > ul > li > a:hover {
  color: var(--orange);
}

.item-4 > ul > li > a > i:hover {
  color: var(--orange);
}

.item-4 > ul > li > a {
  color: var(--white);
  font-size: 18px;
  padding: 10px;
  text-decoration: none;
  letter-spacing: var(--letterSpacing);
}

.item-4 > ul > li > a > i {
  margin-right: 15px;
  font-size: 25px;
}

.item-5 > h3 {
  text-align: left;
  font-size: 40px;
  letter-spacing: var(--letterSpacing);
  margin: 0;
  padding: 0;
  color: var(--white);
}

.item-5 > ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.item-5 > ul > li {
  list-style: disc;
  color: var(--white);
  list-style: none;
}

.item-5 > ul > li > a {
  text-decoration: none;
  color: var(--white);
  line-height: 10px;
  margin-left: 10px;
  letter-spacing: var(--letterSpacing);
}

.item-5 > ul > li > a:hover {
  color: var(--orange);
  transition: var(--transtion);
}

.item-6 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  grid-column-start: 3;
  grid-column-end: 5;
  border-left: 1px solid rgba(255, 255, 255, 0.418);
  color: white;
}

#news {
  width: 100%;
  padding: 0px 15px;
  margin-bottom: 20px;
  height: 45px;
  margin-right: 20px;
  background: var(--white);
  letter-spacing: var(--letterSpacing);
  border: none;
  padding: 10px;
}

.newsletter {
  width: 100%;
  display: flex;
  font-size: 25px;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  padding-left: 20px;
}

#submit-2 {
  border: none;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: var(--letterSpacing);
  text-transform: capitalize;
  text-decoration: none;
  color: var(--white);
  background: var(--orange);
  padding: 16px 42px;
  transition: 0.5s;
  height: 45px;
  cursor: pointer;
  margin: 0;
}

#submit-2:hover {
  background: var(--grey-100);
  color: var(--black);
  transition: all 0.3s ease-in-out;
}

.newsletter > label {
  padding: 0px 10px 10px 0px;
}

.item-7 {
  grid-column-start: 1;
  grid-column-end: 5;
  background: var(--orange);
  height: 60px;
}
.item-7 p {
  text-align: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: var(--letterSpacing);
  padding: 10px;
}
